<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.quickemergencyhandler">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AmbulanceBookingApp">
        <activity
            android:name=".UserSideScreens.VerifyEmailActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".AdminScreens.AdminComplaintsActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".UserSideScreens.DriverReviewsActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".UserSideScreens.UserReviewActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".UserSideScreens.PatientHistoryActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".UserSideScreens.UserActiveRideActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".AdminScreens.AdminAllRidesActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".UserSideScreens.PatientProfileActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".UserSideScreens.DriverCompletedRidesActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".UserSideScreens.EndRideActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".UserSideScreens.DriverActiveRideActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".UserSideScreens.DriverNotificationDetailActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".UserSideScreens.DriverNotificationsActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".UserSideScreens.ConfirmBookingActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".AdminScreens.AdminSettingsActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".AdminScreens.AdminNotificationsActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".UserSideScreens.PatientDashboardActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".UserSideScreens.LoginActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".UserSideScreens.DriverDashboardActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".UserSideScreens.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".UserSideScreens.NearbyAmbulancesActivity"
            android:screenOrientation="portrait"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD6dUAxQBXBwQx-t0ChCaHbHfXwNNANDCo" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".UserSideScreens.SelectLocationActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".AdminScreens.DriverDetailActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".AdminScreens.ManageDriversActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".AdminScreens.PatientDetailActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".AdminScreens.ManagePatientsActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".AdminScreens.AdminDashboard"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".AdminScreens.AdminLogin"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".UserSideScreens.RegistrationActivity2"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".UserSideScreens.RegistrationActivity1"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".UserSideScreens.SplashScreen"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".notification_services.AdminNotification"
            android:exported="true" />
        <service
            android:name=".notification_services.UserNotification"
            android:exported="true" />
        <service
            android:name=".notification_services.DriverNotification"
            android:exported="true" />
    </application>

</manifest>